---
title: About
description: We've built an amazing team of developers, marketers, designers and sales people.
image: https://source.unsplash.com/PXilGoBofu8/2000x1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">우리는 누구인가</h1><br>
			<p class="subtext editable">코페르니쿠스 이후 우리는 혁명적인 교육플랫폼을 구축하여 세상을 가치있는 곳으로 변화시키기 위해 다양한 사람들이 공동의 목표를 위해 뭉쳤습니다.<br>
			우리는 에듀테크의 코페르니쿠스 혁명을 꿈꾸고 있습니다.
			</p>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container">
<h2>Big Tech Ubion</h1><br>
<hr/>
<p>&gt;&gt; Tech 기업 정체성 확립</p>
<h3>새로운 HR 인식 및 전략 추진</h3>
<h3>Rethink Management &amp; Value Up</h3>
<h3>R&amp;D 센터 개념 및 전략 정립</h3>
<p>&gt;&gt; 제품개발 중심의 R&amp;D</p>
<h3>활용형 R&amp;D 전략 이동</h3>
<h3>단기제품 비중 75% 이상</h3>
<p>&gt;&gt; 인공지능-데이터 중심의 R&amp;D</p>
<h3>미래교육서비스 설계에 따른 데이터 기반의 인공지능 서비스 타깃</h3>
<h3>인공지능과 데이터 교육 혁신</h3>
<p>&gt;&gt; Tech Level / Tree / Roadmap 정립</p>
<h3>Tech Strategy map 정립</h3>
		<h3>R&amp;D 센터 R&amp;R 정립</h3>
<p>&gt;&gt; 교육서비스 및 콘텐츠의 연계성</p>
<h3>인공지능과 데이터 기반의 교육 서비스</h3>
<h3>인공지능과 데이터 기반의 체험 콘텐츠(XR)</h3>
	</div>
</section>

<!--아래는 팀멤버를 자동으로 구현해서 표시해주는 로직
<section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
-->
