---
title: About
description: We've built an amazing team of developers, marketers, designers and sales people.
image: https://source.unsplash.com/QckxruozjRg/2000x1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">우리는 누구인가</h1><br>
			<p class="subtext editable">코페르니쿠스 이후 우리는 혁명적인 교육플랫폼을 구축하여 세상을 가치있는 곳으로 변화시키기 위해 다양한 사람들이 공동의 목표를 위해 뭉쳤습니다.<br>
			<br>우리는 에듀테크의 코페르니쿠스 혁명을 꿈꾸는 사람들입니다.
			</p>
		</div>
	</div>
</section>

<!--아래는 팀멤버를 자동으로 구현해서 표시해주는 로직
<section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
-->
